<div class="profile-background">
  <div class="filter-black"></div>
</div>
<div class="container">
  <div class="row profile-content section-nude">
    <div id="newsfeed" class="col-lg-6">
      <h4> <i class="fa fa-newspaper-o"></i> &nbsp; Actualité</h4>
      <div id="activities">
        <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
        <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
        <% end %>
      </div>
      <%= render 'shared/paginate', resources: @activities %>
    </div>
    <div id="intro" class="col-lg-6">
      <h1>All'in</h1>
      <p>All'in est une application intranet dédié pour la Douanes Malagasy</p>
      
    </div>
  </div>
</div>